# Dependencies
node_modules/

# Build output
dist/
build/
web-build/

# Environment
.env
.env.local
*.env

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db
